# Created by httpswww.toptal.comdevelopersgitignoreapireact
# Edit at httpswww.toptal.comdevelopersgitignoretemplates=react

### react ###
.DS_
.log
logs
.backup.
.back.

### package-lock.json, package.json만 있으면 아래 파일들 개발자가 다운받을 수 있기 때문에 git에 함께 올리지 않음
node_modules 
bower_components

.sublime

psd
thumb
sketch

build
# End of httpswww.toptal.comdevelopersgitignoreapireact